* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #dae0e6;
}

nav {
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 40px;
  width: 120px;
}
.search {
  background-color: #f6f7f8;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
}

.reges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  margin-right: 40px;
}
.reges button {
  width: 120px;
  border-radius: 20px;
  border: solid 1.9px #0184ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  text-align: center;
}

.login,
.logout {
  background: white;
  color: #1a7cd8;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #1a7cd8;
}
.signup {
  background: #0184ff;
  color: white;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 15px;
}
.signup:hover {
  cursor: pointer;
  background: #0078e9;
}
.login:hover,
.logout:hover {
  cursor: pointer;

  background: #f1f1f156;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 190px;
  margin-top: 20px;
}
.Trending-now {
  position: relative;
  margin: 10px 860px 10px 0;
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.trending-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.trend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;

  border-radius: 5px;
  position: relative;
  margin-left: 10px;
}
.trend img {
  width: 232px;
  border-radius: 5px;
}
/* ====================  main ========================== */

#profile-image {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

/** ==================== left main ========================== */
.reddit-Post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 190px;
  margin-top: 20px;
}
.reddit-Post-form {
  display: flex;
  align-items: center;
  background: #fff;
  height: 8vh;
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 16px;
  padding: 8px;
}
.posts-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reddit-Post-form input {
  background-color: #dae0e647;
  border-radius: 4px;
  border: 1px solid #dae0e6;
  box-shadow: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
}
.reddit-Post-form input:hover {
  background-color: #fff;
  border-color: #b0b6de;
}

.reddit-Post-form button {
  background: none;
  border: none;
  color: #797e82;
  font-size: 1.2rem;
  margin-left: 10px;
}

.addpost {
  cursor: pointer;
}
.reddit-Post-form button :hover {
  cursor: pointer;
  color: #0164c0;
}

.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 190px;
  margin-top: 20px;
}

.posts-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
  width: 80%;
  margin-bottom: 20px;
  border: solid 0.5px #d2d3d3;
  border-radius: 5px;
}
.posts-header button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70px;
  height: 40px;
  padding: 7px 12px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: bold;
}
.hot {
  color: #0079d2;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dots img {
  margin-left: 13px;
}
select {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 120px;
  padding: 0 10px;
}
img {
  width: 50px;
}
button img {
  width: 20px;
}

.posts2 {
  height: 100%;
  border: #000 solid 1px;
  padding: 20px;
  margin: 85px;
  border-radius: 4px;
  background-color: coral;
}
.post {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1a7cd8;
  border: #000 solid 1px;
  display: flex;
  flex-direction: row;
}
.leftpost {
  padding-right: 10px;
}
.rightpost {
  padding: 10px;
}

.wrap {
  display: flex;
}

.news-section{
  display: flex;
  margin-top: 50px;
justify-content: center;
  margin-top: 50px;
  color: #0078e9;
  font-weight: 900;
}

.news-title{
margin-right: 10px;
}


.btnlk2{
  text-align: center;
  margin-top: 50px;
  color: #0078e9;
  font-weight: 900;
}

.news-details .news-category {
  color: var(--white);
  padding: 0.4rem 1.2rem;
  background-color: var(--main-color);
  font-size: 0.8rem;
  align-self: flex-start;
  border-radius: 2px;
}

.news-title {
  font-size: 1.2rem;
  color: var(--dark-gray);
  max-width: 500px;
  overflow: hidden;
  text-align: justify;
  max-height: 70px;
}

.news-details .news-title:hover {
  color: var(--main-color);
}
