* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #dae0e6;
}
:root {
  --main-color: #0079d2;
  --background-body-color: #dbe0e6;
  --second-color: #ff4500;
  --posts-color: #fff;
  --search-color: #f6f7f9;
  --second-font: #797e82;
  --second-button: #f7f7f7;
}
nav {
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 40px;
  width: 120px;
}
.search {
  background-color: #f6f7f8;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
}

.reges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-right: 40px;
}
.reges button {
  width: 120px;
  border-radius: 20px;
  border: solid 1.9px #0184ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  text-align: center;
}

.login,
.logout {
  background: white;
  color: #1a7cd8;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #1a7cd8;
}
.signup {
  background: #0184ff;
  color: white;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 15px;
}
.signup:hover {
  cursor: pointer;
  background: #0078e9;
}
.login:hover,
.logout:hover {
  cursor: pointer;

  background: #f1f1f156;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 190px;
  margin-top: 20px;
}
.Trending-now {
  position: relative;
  margin: 10px 860px 10px 0;
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.trending-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.trend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;

  border-radius: 5px;
  position: relative;
  margin-left: 10px;
}
.trend img {
  width: 232px;
  border-radius: 5px;
}
